<!DOCTYPE html>
<html>
  <head>
    <title>PUSHER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Django and Pusher is fun1!</h1>
        <a href="{% url 'logout' %}" class="pull-right"></a>
        <div style="clear:both;"></div>
        <ul id="messages" class="list-group">
        </ul>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
    <script>
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('{{key}}', {
      encrypted: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
    	console.log(data);
    	var html = `<li>${data.message}</li>`;
    	$('#messages').append(html);
    });
    </script>
  </body>
</html>