<!DOCTYPE html>
<html>
  <head>
    <title>PUSHER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>Django and Pusher is fun1!</h1>
        <a href="{% url 'logout' %}" class="pull-right">Logout</a>
        <div style="clear:both;"></div>
        <input type="text" name="text" id="text">
        <button id="posting">POST</button>
        <ul id="messages" class="list-group">
        </ul>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
    <script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  function getCookie2(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 }

  var csrftoken = getCookie2('csrftoken');

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('{{key}}', {
      encrypted: true,
      authEndpoint: '/auth_pusher/',
      auth: {
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      }
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
    	console.log(data);
    	var html = `<li>${data.message}</li>`;
    	$('#messages').append(html);
    });

    var channel2 = pusher.subscribe('private-{{user.perfil.getChanelName}}');
    channel2.bind('check-code', function(data) {
          var html = `<li>${data.message}</li>`;
          $('#messages').append(html);
    });

    $('#posting').click(function(id){
      var text = $('#text').val();
      $.ajax({
          // la URL para la petición
          url : '/posting/',
          // la información a enviar
          // (también es posible utilizar una cadena de datos)
          data : { 'text' : text ,'csrfmiddlewaretoken' : '{{ csrf_token }}'},
          // especifica si será una petición POST o GET
          type : 'POST',
          // el tipo de información que se espera de respuesta
          dataType : 'json',
          // código a ejecutar si la petición es satisfactoria;
          // la respuesta es pasada como argumento a la función
          success : function(json) {
              console.log('success');
          },
          // código a ejecutar si la petición falla;
          // son pasados como argumentos a la función
          // el objeto de la petición en crudo y código de estatus de la petición
          error : function(xhr, status) {
              console.log('Disculpe, existió un problema '+status);
          },
          // código a ejecutar sin importar si la petición falló o no
          complete : function(xhr, status) {
              console.log(status);
          }
      });
      //channel2.trigger('client-check-code', {code: text});
    });
    </script>
  </body>
</html>